### Importar librer√≠a

In [47]:
import pandas as pd

### Crear serie

In [48]:
psg_players = pd.Series(['Navas','Mbappe','Neymar','Messi'],
          index=[1,7,10,30]
          ) #Si no pongo el indice los marca como 0,1,2 etc

In [58]:
psg_players

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [59]:
dict = {1:'Navas',7:'Mbappe',10:'Neymar',30:'Messi'}
pd.Series(dict)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [60]:
psg_players[7]

'Mbappe'

In [61]:
psg_players[0:3]

1      Navas
7     Mbappe
10    Neymar
dtype: object

### Crear DataFrame

In [33]:
dict = {'Jugador':['Navas','Mbappe','Neymar','Messi'],
 'Altura':[183.0, 170.0, 170.0, 165.0],
 'Goles':[2,200,200,200]
 }

In [42]:
dict

{'Jugador': ['Navas', 'Mbappe', 'Neymar', 'Messi'],
 'Altura': [183.0, 170.0, 170.0, 165.0],
 'Goles': [2, 200, 200, 200]}

In [57]:
df_Players = pd.DataFrame(dict,index=[1,7,10,30])
df_Players

   Jugador  Altura  Goles
1    Navas   183.0      2
7   Mbappe   170.0    200
10  Neymar   170.0    200
30   Messi   165.0    200

In [54]:
df_Players.columns

Index(['Jugador', 'Altura', 'Goles'], dtype='object')

In [55]:
df_Players.index

Int64Index([1, 7, 10, 30], dtype='int64')